@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sigmar+One&display=swap');

select {
  font-size: 2rem;
  font-family: 'Sigmar One', cursive;
  padding: 0.5rem;
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
  background: var(--modal-secondary-colour);
  cursor: pointer;
  transition: transform .2s;
}

select:hover {
  opacity: 0.8;
  transform:scale(1.3)
}
