.stats {
  font-size: 3rem;
  line-height: 1;
  text-shadow: -1px -1px 3px var(--app-secondary-color), 3px 3px 4px var(--app-tertiary-color);
  color: var(--app-text-light-color);
}

.reflected {
  transform:rotate(180deg); 
}
