@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sigmar+One&display=swap');

body {
  margin: 0;
  font-family: 'Sigmar One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --modal-primary-colour: hotpink;
  --modal-secondary-colour: pink;
  --modal-tertiary-colour: black;
  --app-primary-color: #ffff83;
  --app-secondary-color: #cd83ff;
  --app-tertiary-color: black;
  --app-text-light-color: white;
  --app-text-dark-color: black;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}